*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(56, 62, 94);
    color: #fff;
}
.pop-up-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    justify-items: center;
    align-items: center;
    .pop-up-dialog{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 40%;
        background-color: #fff;
        border: 4px solid rgb(75, 100, 243);
        border-radius: 10px;
        h5{
            font-size: 36px;
            color: #000;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2px;
            input[type=text]{
                width: 300px;
                height: 40px;
                border: 4px solid rgba(75, 100, 243, 0.5);
                border-radius: 10px;
                outline: none;
                padding: 8px;
                font-size: 16px;
                &:focus{
                    border: 4px solid rgba(75, 100, 243, 1);
                }
            }
            input[type=submit]{
                width: 150px;
                height: 30px;
                border: none;
                border-radius: 5px;
                background-color: rgba(75, 100, 243, 1);
                font-size: 18px;
            }
        }
    }
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    .clima-hoy{
        background-color: rgba(195, 222, 233, 0.5);
        width: 95vw;
        height: fit-content;
        border-radius: 10px;
        padding: 20px;
        .localidad{
            font-size: 24px;
        }
        .fecha-actual{
            margin: 10px 0;
        }
        .clima-actual{
            display: flex;
            gap: 40px;
            grid-template-columns: auto auto;
            align-items: center;
            padding: 20px 0;
            .icono{
                img{
                    width: 80px;
                    height: fit-content;
                }
            }
            .temperatura{
                .real{
                    font-size: 46px;
                }
                .sensacion-termica{
                    font-size: 14px;
                }
                .condicion{
                    font-size: 14px;
                }
            }
        }
        .horas{
            display: flex;
            flex-wrap: wrap;
            padding: 20px 0;
            gap: 15px;
            .hora{
                span:first-child{
                    font-weight: bold;
                }
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
        .mas-informacion{
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px;
            .item{
                span:first-child{
                    font-weight: bold;
                    display: flex;
                    gap: 5px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                display: flex;
                flex-direction: column;
            }
        }
    }
    .clima-proximos-dias{
        width: 95vw;
        height: fit-content;
        border-radius: 10px;
        display: flex;
        align-items: center;
        overflow: auto;
        gap: 10px;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        
        &::-webkit-scrollbar:vertical {
            width:10px;
        }
        
        &::-webkit-scrollbar-button:increment,&::-webkit-scrollbar-button {
            display: none;
        } 
        
        &::-webkit-scrollbar:horizontal {
            height: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: #797979;
            border-radius: 20px;
        }
        
        &::-webkit-scrollbar-track {
            border-radius: 10px;  
        }
        .prev, .next{
            font-size: 30px;
            &:hover{
                cursor: pointer;
            }
        }
        .resumen{
            width: fit-content;
            height: 90%;
            padding: 20px 20px;
            background-color: rgba(195, 222, 233, 0.5);
            border-radius: 10px;
            display: grid;
            align-items: center;
            column-gap: 15px;
            row-gap: 20px;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            .dia{
                grid-area: dia;
                font-size: 18px;
            }
            .icono{
                grid-area: icono;
                justify-self: center;
                img{
                    width: 40px;
                }
            }
            .max{
                grid-area: max;
                font-size: 18px;
                font-weight: bold;
            }
            .min{
                grid-area: min;
                font-size: 18px;
            }
            grid-template-areas: "dia dia" "icono max" "icono min";
        }
    }
}
@media (min-width: 610px){
    .clima-hoy{
        .clima-actual{
            display: flex !important; 
        }
        .mas-informacion{
            display: flex !important;
        }
    }
}